/*Landing page*/
.signup-login-btn {
  margin: 10px;
}
.landing-heding {
  margin-top: 150px;
}
.ok-btn-padding {
  padding: 6px 24px;
}
.landing-content-area {
  color: #ffffff;text-align: center;text-transform: uppercase;
}

/*Landing Page*/
.profile-pic {
  width: 40px;height: 40px;margin-top: 7px;
}
ul li span.profile-name {
  color: #fff;padding-right: 15px;font-size: 18px;vertical-align: bottom;
}
.event-panels {
  border: 1px solid #959595;
  background-color: #F5F5F5;padding: 15px;margin-bottom: 15px;
}
.event-panels:hover, .event-panels.active {
  background-color: #bdbdbd;
}
.forum-section .nav > li > a {
  padding: 10px 60px;text-transform: uppercase;font-size: 16px;background-color: #bdbdbd;
}
.tab-pane>ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
.tab-pane>ul>li {
  margin-bottom: 25px;
}
.tab-pane>ul>li>a {
  font-size: 24px;line-height: 34px;color: #333333;
}

.latest-threads .head {
 padding: 10px;text-transform: uppercase;font-size: 16px;background-color: #bdbdbd;
 text-align: center;border: 1px solid #959595;
}
.latest-threads .content-area {
  border: 1px solid #959595;padding: 15px 10px;height: 400px;overflow-y: auto;
}
.latest-threads .content-area .threads {
  background-color:#F5F5F5;padding: 10px; margin-bottom: 10px;
}
.threads .user {
  text-align: left;margin-bottom: 5px;
}
.threads .post-body {
  text-transform: uppercase;font-size: 20px;
}
.threads .date-time{
  text-align: right;
}
.cotainer-margin {
  margin-top: 30px;
}

/*Announcement page*/
.forum-table {
  margin-top: 30px; background-color:#F5F5F5;
}
.forum-table thead th {
  background-color: #bdbdbd;
}
.forum-table thead th.topic {
  width: 60%;
}
.forum-table thead th.statistics,.forum-table tbody td.statistics {
  width: 20%;
}
.forum-table thead th.last-post,.forum-table tbody td.statistics {
  width: 20%;
}
.forum-table tbody td .topic-name,.forum-table tbody td.statistics{
  font-size: 16px;font-weight: 600;
}

/*Create page*/
.create-form {
  border: 1px solid #959595;
  background-color: #F5F5F5;padding: 15px;margin-bottom: 15px;
}
.create-btn {
  margin-top: 20px;
}
.preview_scroll{
  resize:none;
}
table {
  width:  100%;
  border-collapse: collapse;
}
.scrollingTable {
 overflow-y: auto;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 28px 8px;
}
.strong {
  font-weight: bold;
}
.comments-margin {
  margin-bottom: 20px;
}
.commenmt-area-height {
  max-height: 400px;overflow-y:  scroll;margin-bottom: 30px;
}
#font_color{
  color: white;
}